.mui-refresh-main {
  position: absolute;
  left: 50%;
  margin-left: -25px;
  padding: 9px;
  z-index: 10001;
  background-color: #fff;
  overflow: hidden;
  border-radius: 999px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.19), 0 6px 13px 0 rgba(0,0,0,0.24);
  -webkit-box-shadow: 0 3px 8px 0 rgba(0,0,0,0.19), 0 6px 13px 0 rgba(0,0,0,0.24);
}
.mui-refresh-main {
  position: fixed;
  top: 0;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
}
/*transition*/
.mui-refresh-main-animat {
/* transition: box-shadow 0.38s cubic-bezier(0.4, 0, 0.2, 1) */
/* -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1) */
/* transition: all 0.43s cubic-bezier(.08,.55,.81,1.8) */
  -webkit-transition: all 0.43s cubic-bezier(0.08, 0.55, 0.81, 1.8);
}
/* below nav bar */
.mui-refresh-nav {
  -webkit-transform: scale(1);
}
.mui-refresh-noshow {
  opacity: 0;
  -webkit-transform: scale(0.01) !important;
  -webkit-transition: all 0.25s ease-in-out !important;
}
.mui-refresh-wrapper {
  width: 25px;
  height: 25px;
}
.mui-arrow-wrapper {
  -webkit-transition: all 0.2s ease;
}
.mui-half-circle,
.mui-arrow-main {
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  border-width: 3px;
  border-style: solid;
  border-color: #000 #000 transparent;
  border-radius: 999px;
}
.mui-arrow-main {
  margin-top: 10px;
/* transform: rotate(-37deg) */
  -webkit-transform: rotate(-37deg);
/* arrow */
}
.mui-arrow-main:before {
  content: '';
  display: block;
  position: relative;
  top: 14px;
  left: 0px;
  width: 0;
  height: 0;
  border-width: 6px 6px;
  border-style: solid;
  transform: rotate(-56deg);
  -webkit-transform: rotate(-56deg);
}
.mui-spinner-main {
  width: 25px;
  height: 25px;
  position: relative;
}
.mui-spinner-main .mui-spinner-left,
.mui-spinner-main .mui-spinner-right {
  position: absolute;
  top: 0;
  height: 25px;
  width: 13px;
  overflow: hidden;
}
.mui-spinner-main .mui-spinner-left {
  left: 0;
}
.mui-spinner-main .mui-spinner-left .mui-half-circle {
  left: 0;
  border-right-color: transparent;
}
.mui-spinner-main .mui-spinner-right {
  right: 0;
}
.mui-spinner-main .mui-spinner-right .mui-half-circle {
  right: 0;
  border-left-color: transparent;
}
/* Blue theme */
.mui-blue-theme .mui-arrow-main {
  border-color: #2196f3 #2196f3 rgba(0,0,0,0);
}
.mui-blue-theme .mui-arrow-main:before {
  border-color: #2196f3 #fff #fff #fff;
}
.mui-blue-theme .mui-spinner-main .mui-spinner-left .mui-half-circle,
.mui-blue-theme .mui-spinner-main .mui-spinner-right .mui-half-circle {
  border-top-color: #2196f3;
}
.mui-blue-theme .mui-spinner-main .mui-spinner-left .mui-half-circle {
  border-left-color: #2196f3;
}
.mui-blue-theme .mui-spinner-main .mui-spinner-right .mui-half-circle {
  border-right-color: #2196f3;
}
/* Animation */
.mui-spinner-wrapper {
  -webkit-animation: outer-rotate 2.91667s linear infinite;
  animation: outer-rotate 2.91667s linear infinite;
}
.mui-spinner-main {
  -webkit-animation: sporadic-rotate 5.25s cubic-bezier(0.35, 0, 0.25, 1) infinite;
  animation: sporadic-rotate 5.25s cubic-bezier(0.35, 0, 0.25, 1) infinite;
}
.mui-spinner-main .mui-spinner-left .mui-half-circle,
.mui-spinner-main .mui-spinner-right .mui-half-circle {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 1.3125s;
  animation-duration: 1.3125s;
  -webkit-animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
  animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
}
.mui-spinner-main .mui-spinner-left .mui-half-circle {
  -webkit-animation-name: left-wobble;
  animation-name: left-wobble;
}
.mui-spinner-main .mui-spinner-right .mui-half-circle {
  -webkit-animation-name: right-wobble;
  animation-name: right-wobble;
}
@-webkit-keyframes outer-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes left-wobble {
  0%, 100% {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}
@-webkit-keyframes right-wobble {
  0%, 100% {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}
@-webkit-keyframes sporadic-rotate {
  12.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
@-moz-keyframes outer-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes outer-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes outer-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes outer-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes left-wobble {
  0%, 100% {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}
@-webkit-keyframes left-wobble {
  0%, 100% {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}
@-o-keyframes left-wobble {
  0%, 100% {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}
@keyframes left-wobble {
  0%, 100% {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
}
@-moz-keyframes right-wobble {
  0%, 100% {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}
@-webkit-keyframes right-wobble {
  0%, 100% {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}
@-o-keyframes right-wobble {
  0%, 100% {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}
@keyframes right-wobble {
  0%, 100% {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}
@-moz-keyframes sporadic-rotate {
  12.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
@-webkit-keyframes sporadic-rotate {
  12.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
@-o-keyframes sporadic-rotate {
  12.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
@keyframes sporadic-rotate {
  12.5% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  100% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

